.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tablee{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 1300px;
}

.tab{
    /* border:1px solid #aaa; */
    width:1500px;
}

table thead {
    /* color: white;
    background-color: #38F; */
    display: inline-block;
}

table tbody {
    display: inline-block;
    width: calc(100% + 5px); /*这里的8px是滚动条的宽度*/
    height: 700px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

table thead tr, table tbody tr, table tfoot tr {
    box-sizing: border-box;
    table-layout: fixed;
    display: table;
    width: 100%;
}

.head th{
    height: 40px;
    vertical-align:baseline;
    padding:5px 15px 5px 6px;
    background-color:cadetblue;
    /* border:1px solid #3F3F3F; */
    text-align:center;
    font-size: 24px;
    color:#fff;
    /* border-top-right-radius: 10px;
    border-top-left-radius: 10px; */
}

.body tr{
    height: 35px;
    font-size: 22px;
}

.body td{
    vertical-align:baseline;
    padding:10px 15px 5px 5px;
    background-color:#ebebeb;
    /* border:1px solid #e0e0e0; */
    text-align:center;
    color:#161616;
}

.btn{
    border: none;
    width: 60px;
    height: 30px;
    color: #fff;
    background-color: darkcyan;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.hide{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.slt{
    width: 80px;
    height: 30px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
}

.cbtn{
    border: none;
    width: 60px;
    height: 30px;
    color: #fff;
    background-color:palevioletred;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
}

.top{
    width: 1000px;
    height: 70px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.title{
    font-size: 40px;
    font-weight: bold;
    color: darkcyan;
    margin-left: -100px;
}