.charts{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 1600px;
    height: 850px;
    padding: 50px;
    background-color: #fff;
    border-radius: 20px;
}