.main{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgb(248, 241, 232);
    border-radius: 30px;
    padding-bottom: 50px;
    height: 850px;
}

.canlendar{
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    display: inline-block;
}

.audit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 600px;
    margin-top: 50px;
    justify-content: space-around;
}

.iner{
    /* height: 450px; */
}

/* .lis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -300px;
} */

.lfont{
    font-size: 28px;
    font-weight: bold;
    color: cadetblue;
}

/* .alis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -400px;
    margin-left: 900px;
} */