.main{
    height:100%;
	margin:0;
    background-image: url(../../static/img/enter3.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    background-attachment:fixed;
}

.img{
    /* background-color: cadetblue;
    width: 500rem;
    height: 500rem;
    border-radius: 60rem; */
    
    width: 30%;
    height: 969px;
    border-radius: 0 450px 450px 0;
    background-color: cadetblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.font{
    width: 500px;
    font-size: 90px;
    color: #fff;
    font-weight: bold;
    font-family: '黑体';
    letter-spacing: 12px;
}

.title{
    position: absolute;
    top: 350px;
    right: 440px;
    font-size: 40px;
    color: #333;
    font-weight: bold;

}

.form{
    width: 400px;
    height: 300px;
    position: absolute;
    top: 200px;
    bottom: 0;
    left: 800px;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: cadetblue;
    border-radius: 20px;
}

.name input{
    width: 350px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 25px;
    background-color: #fffff0;
    border-radius: 10px;
    margin-top: 20px;
}

.psw input{
    width: 350px;
    height: 50px;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 25px;
    background-color: #fffff0;
    border-radius: 10px;
}

.btn{
    width: 300px;
    height: 50px;
    border: none;
    border-radius: 10px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
}

.sign{
    text-decoration: none;
    color: rgb(1, 112, 116);
    font-size: 20px;
}