.list{
    width: 600px;
    height: 150px;
}

.bac{
    background-color: #fff;
}

.word{
    font-size: 20px;
    background-color: cadetblue;
    border-radius: 10px;
    color: #fff;
    padding: 5px;
}